body{
    overflow: hidden;
    background-color: black;
    color: white;
}

canvas{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

p{
    position: absolute;
    right: 30%;
    bottom: 80%;
    font-size: 18px;
}

#image{
    max-height: 500px;
    max-width: 500px;
}